# Folders
src/
bin/
*.out.*/
.cache/
build/

# Files
output
*.out
*.exe
*.txt
main
a
output

# Mac
.DS_Store
*.dSYM/

# vscode
.vscode/
!.vscode/c_cpp_properties.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

# IDEA
.idea/